body {
	width: auto;
	font-family: '游ゴシック Medium';
	height:100%;
}

h3 {
	background-color: #FFFF93;
	line-height: 40px;
	height: 5px;
	padding: 5px 30px 40px;
	font-family: '游ゴシック Bold';
	font-size: 110%;
	font-weight: 900;
	text-align: left;
	color: #000000;
	border: 0;
	margin: 20px 0 40px;
}

fieldset {
	width: 75%;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 2%;
	border: 1px solid #595959;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	padding: 50px;
}

form {
  	font-family: '游ゴシック Medium';
  	font-size: 100%;
  	color: #595959;
  	height: auto;
  	padding: 0 0 15px;
	margin: auto;
  	width: 100%;
}

form .error {
	font-family: '游ゴシック Medium';
	color: #FF0000
}

.btnLeft {
	text-align: left;
	float: left;
}

.btnRight{
	text-align: right;
	float: right;
}

button.b1{
	background: #f2f2f2;
	border: 1.5px solid #595959;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #000000;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	text-valign: middle;

}

button.b1:hover {
	background: #9D9D9D;
}

.button_wrapper {
}

select {
	border:1.5px solid #595959;
	height:30px;
	text-align: 30px;
}

input.updateButton[type="submit"] {
	width: 5%;
	height:33px;
	text-align: 33px;
	background: #FCE4D6;
	border: 1.5px solid #595959;
	padding: 3px;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #000000;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
}

input.updateButton[type="submit"]:hover {
	background: #F4B084;
}
table{
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-family: '游ゴシック Medium';
}
.table1{
	float:right;
	padding: 30px;
}
.header1 th:nth-child(-n+6){
	background: none;
	border: 0;
}
thead > tr > th {
  	background-color: #ADF65C;
  	height: 10px;
  	text-align: 8px;
  	margin: 2px;
  	padding: 5px;
  	font-size: 95%;
  	border-bottom: 1px solid #595959;
}

th, td {
	width: auto;
  	border: 1px solid #595959;
  	padding: 5px;
  	text-align: center;
}

.name{
	width:160px;
}

.division{
	width:70px;
}

.position{
	width:70px;
}

.aggregateTime{
	width: 15%;
	text-align: right;
	margin-left: 760px;
}

.aggregateDay{
	width: 15%;
	text-align: right;
	margin-left: 760px;
}

.day{
	width: 60px;
}