body {
	width:auto;
	margin-top: 150px;
}

fieldset {
	border: none;
	width: 75%;
	margin: 0 auto;
	font-family: '游ゴシック Medium';
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

.wrapper{
	margin-top: 100px auto 0 auto;
	max-width: auto;
}

h3 {
	background-color: #FFFF93;
	line-height: 40px;
	height: 5px;
	padding: 5px 30px 40px;
	font-family: '游ゴシック Bold';
	font-size: 110%;
	font-weight: 900;
	text-align: left;
	color: #000000;
	border: 0;
	margin: 20px 0 40px;
}

title{
	background: #f2f2f2;
	margin: 0 padding:20px; /*PADDING TODOS OS LADOS DE 20PX*/
	font-size: 140%;
	font-weight: 300;
	width: auto;
	text-align: center;
	color: #555;

}

.btn{
	display:inline-block;
	background: #f2f2f2;
	border: 1.5px solid #595959;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #000000;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	text-valign: middle;
}

.btn:hover{
	background: #9D9D9D;
}

.main {
	width: 100%;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 2%;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	padding-left: 70px;
}

.subMain{
	width: 100%;
}

.subMain div{
	display: inline-block;
	list-style: none;
}

.errMessage {
	font-family: '游ゴシック Medium';
	color: #FF0000
}

.selectMonth {
	font-family: '游ゴシック Medium';
}

.updateButton {
	display: inline-block;
	background: #f2f2f2;
	border: 1.5px solid #595959;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #000000;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	text-valign: middle;
}

.kintaiButton {
	display:inline-block;
	background: #f2f2f2;
	border: 1px solid #595959;
	padding: 0.5%;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #000000;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	text-align: center;
}

.syouninButton {
	background: #f2f2f2;
	border:1.5px solid #595959;
	font-family: '游ゴシック Medium';
	font-size: 90%;
	color: #000000;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	text-align: center;
	width:50px;
}

.updateButton input{
	font-size:20px;
	padding: 10px 5px 10px 5px;
}

table{
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: '游ゴシック Medium';
}

thead > tr > th {
  	background-color: #ADF65C;
  	text-align: 8px;
  	margin: 2px;
  	padding: 5px;
  	font-size: 95%;
  	border-bottom: 1px solid #595959;
}

th, td {
	width: auto;
  	border: 1px solid #595959;
  	padding: 5px;
}

.timeBox input[type="text"] {
	width: 20px;
	margin-left: 5px;
	height: 20px;
	font-family: '游ゴシック Medium';
	color: #555;
	border:none;
}

input[type="text"] {
	width: 200px;
	height: 20px;
	margin-left: 5px;
	font-family: '游ゴシック Medium';
	color: #555;
	border:none;
}

select {
	border: 1.5px solid #595959;
	height: 30px;
}

.updateButton:hover {
	background: #9D9D9D;
}

.kintaiButton:hover {
	background: #9D9D9D;
}

.syouninButton:hover {
	background: #9D9D9D;
}

.pullDown{
	width: 60%;
}

.aggregateTime{
	width: 15%;
	margin-left: 760px;
	text-align: right;

}

.approvalForm{
	width: 10%;
	margin-left: 950px;
}

.approvalForm th:nth-child(-n+13){
	background: none;
	border: 0;
}

.kintaiTable {
	width: 1200px;
	margin: center;
}

.thBackCollor{
	background: #f0f0f0;
}

.width100 {
	width:100px;
}

input.checkbox:checked{{
	background: #9D9D9D;
}

