* {
	padding: 10px;
	margin: 0;
}

body {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	font-family: '游ゴシック Medium';
}

h1 {
	background: #0099FF;
	margin: 30px padding:20px; /*PADDING TODOS OS LADOS DE 20PX*/
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

fieldset {
	width: 500px;
	margin: 0 auto;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}
