.header-clearfix::after {
	content: "";
	display: block;
	clear: both;
}

body {
	width: auto;
	margin: 0;
	font-family: '游ゴシック';
}

.header {
	background: #FFFF93;
	height: 150px;
	width: 100%;
	position: fixed;
	z-index: 9999;
}

h1{
	margin: 30px padding:10px; /*PADDING TODOS OS LADOS DE 20PX*/
	margin-left: 30px;
	font-family: '游ゴシック Bold';
	font-size: 200%;
	font-weight: 900;
	line-height: 80px;
	color: #000000;
	margin-top: 10px;
}

.header-left a {
	text-decoration: none;
	color: #000;
	width:9%;
}

#header-left-p {
	margin-top: 0;
	margin-bottom: 80px;
	margin-right: 15px;

}

.btn-square{
	display: inline-block;
	height: 18px;
  	width: 87px;
	padding: 0.3em 1em;
	background:#ffffff ;
	font-color:#000000;
	font-family: '游ゴシック Bold';
	font-size: 100%;
	font-weight: 900;
	text-align: center;
	line-height: 20px;
    border: 1.5px solid #595959;
	margin-left: 150px;
	cursor:pointer;
	margin-top: -150px;

}
.btn-square:hover{
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    background: #f2f2f2;
}

.header-right {
	float: right;
	margin-right: 5px;
	top: 0;
	background: #FFFF93;
}

h2{
	margin: 30px padding:30px; /*PADDING TODOS OS LADOS DE 20PX*/
	top: 0;
	margin-right: 0px;
	font-family: '游ゴシック Bold';
	font-size: 110%;
	font-weight: 900;
	line-height: 0;
	color: #000000;
	background: #FFFF93;
}

.header-right a {
	display: block;
}

.header-right button {
	width: 0px;
	position: right;
	bottom: 0px;
	top: 0;
}

.header-clearfix {
	margin-top: -170px;
	margin-right: 60px;
	line-height: 30px;
	font-family: '游ゴシック Bold';
	font-size: 100%;
	font-weight: 900;
}

button {
	background: #ffffff;
	font-color: #000000;
	cursor: pointer;
}

button:hover {
	background: #f2f2f2;

}
.select-wrap {
    position: right;
}
select{
    outline:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: right;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select option{
 	background-color: #ffffff;
 	color: #333;
	font-family: '游ゴシック Bold';
	font-size: 100%;
	font-weight: 900;
  	padding: 0;
}

select::-ms-expand {
  display: none;
}

.select-wrap.select-circle > select{
	float: right;
    width:23px;
    height: 23px;
    border-radius:25px;
    margin: 0 auto;
    display: block;
    padding: 10px 0 8px 20px;
    letter-spacing: 5em;
    border: 1.5px solid #595959;
    color:#fff;
    background: #ffffff;
    overflow: hidden;
    -webkit-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -o-transition: all 400ms cubic-bezier(1, 0, 0, 1);
    transition: all 400ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

@-moz-document url-prefix() {
  .select-wrap.select-circle > select{
    padding-left: 16px;
}

.select-wrap.select-circle:hover{
  width: 100%;
}

.select-wrap.select-circle:hover > select,.select-wrap.select-circle > select:hover{
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    letter-spacing: 0;
    padding: 8px 19px;
}

.select-wrap.select-circle > select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #fff;
}

.select-wrap.select-circle-arrow > select{
   color:#595959;
}

.select-wrap.select-circle-arrow:hover > select,.select-wrap.select-circle-arrow > select:hover{
  color: #fff;
}

