* {
	padding: 10px;
	margin-top: 50px;
	margin: 0px auto;

}

body {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	font-family: '游ゴシック Medium';
}

h1 {
	background: #FFFF93;
	height: 80px;
	border: 1px solid #595959;
	margin: 30px padding:30px; /*PADDING TODOS OS LADOS DE 20PX*/
	font-family: '游ゴシック Bold';
	font-size: 250%;
	font-weight: 900;
	text-align: center;
	line-height: 80px;
	color: #595959;
}

fieldset {
	width: 750px;
	margin: 100px auto 0;
	border: 1px solid #595959;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

form {
	height:290px;
	background: #F2F2F2;
	border: 1px solid #595959;
	padding: 4% 4%;
	color: #595959;
	text-align: left;
	font-size: 120%;
}

form .error {
	font-family: '游ゴシック Medium';
	color: #FF0000
}

form .button_wrapper {
	text-align: center;

}

input[type="text"] {
	width: 80%;
	height: 10px;
	margin-bottom: 2%;
	border: 1.5px solid #595959;
	padding: 4% 1% 4% 4%;
	font-family: '游ゴシック Medium';
	font-size: 95%;
	color: #595959;
}

input[type="password"] {
	width: 80%;
	height: 10px;
	margin-bottom: 2%;
	border: 1.5px solid #595959;
	padding: 4% 1% 4% 4%;
	font-family: '游ゴシック Medium';
	font-size: 95%;
	color: #595959;
}

input[type="submit"] {
	width: 30%;
	height: 30px;
	background: #FCE4D6;
	border: 1.5px solid #595959;
	padding: 4%;
	font-family: '游ゴシック Bold';
	font-size: 130%;
	font-weight:900;
	text-align: center;
	line-height: 5px;
	color: #595959;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
}

input[type="submit"]:hover {
	background: #F4B084;
}
