@charset "UTF-8";

h3{
	background-color: #FFFF93;
	line-height: 40px;
	height: 5px;
	padding: 5px 30px 40px;
	font-family: '游ゴシック Bold';
	font-size: 110%;
	font-weight: 900;
	text-align: left;
	color: #000000;
	border: 0;
	margin: 20px 0 10px;
}
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #000000;
  display: block;
  order: -1;
}
.tab-label {
  color: #595959;
  background: #f2f2f2;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: #ADF65C;
}
.tab-switch:hover+.tab-label {
  background: #74B72B;
}

/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

