body {
	margin: 0;
	width: auto;
	font-family: '游ゴシック Medium';
	color: #595959;
	height:1500px;
}

h3{
	background-color: #FFFF93;
	line-height: 40px;
	height: 5px;
	padding: 5px 30px 40px;
	font-family: '游ゴシック Bold';
	font-size: 110%;
	font-weight: 900;
	text-align: left;
	color: #000000;
	border: 0;
	margin: 20px 0 40px;

}

h4 {
	background: #ADF65C;
	height: 120px;
	margin: 0;
	padding:0px; /*PADDING TODOS OS LADOS DE 20PX*/
	font-family: '游ゴシック Bold';
	font-size: 250%;
	font-weight: 900;
	text-align: center;
	line-height: 120px;
	color: #595959;
	border: 1px solid #595959;
}

fieldset {
	width: 850px;
	height:auto;
	margin: auto;
	border: 1px solid #595959;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

form tr th{
	width: 300px;
	padding: 30px 30px;
	margin-left: 50px;
	float: left;
}

form th td{
	padding: 10px 0;
	border: 1px solid #595959;
}

fieldset form {
	background: #f2f2f2;
	margin-left: auto;
  	margin-right: auto;
  	font-family: '游ゴシック Medium';
  	font-size: 100%;
  	height: auto;
  	border: 1px solid #595959;
  	float: centre;
  	color: #595959;
}

fieldset form .error {
	padding: 20px;
	padding-left: 80px;
	text-align: left;
	font-family: '游ゴシック Medium';
	color: #FF0000
}

fieldset form .userPassword_button {
	text-align: center;
}

fieldset input[type="password"] {
	width: 300px;
	height: 30px;
	border: 1.5px solid #595959;
	padding: 10% 1% 4% 4%;
	padding: 5px 0px 10px 10px;
	font-family: '游ゴシック Bold';
	font-weight:900;
	font-size: 95%;
	color: #595959;
}

fieldset select {
	border: 1.5px solid #595959;
	width: 70%;
}

fieldset input.p1[type="submit"] {
	margin: 0 auto;
	width:180px;
    height: 20px;
    text-align:center;
    line-height:0px;
	background: #FCE4D6;
	border: 1.5px solid #595959;
	padding: 4%;
	font-family: '游ゴシック Bold';
	font-size: 120%;
	font-weight:900;
	color: #595959;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	margin: 30px;
}

fieldset input.p1[type="submit"]:hover {
	background: #F4B084;
}

button {
	background: #FCE4D6;
	color: #000000;
	cursor: pointer;
}

button:hover {
	background: #F4B084;
}

