.delete_title {
	padding: 0.5em; /*文字周りの余白*/
	color: #494949; /*文字色*/
	background: #fffaf4; /*背景色*/
	border-left: solid 5px #ffaf58; /*左線（実線 太さ 色）*/
	text-align: center;
}

form {
	background-color: #006699;
	padding: 30px 50px;
	width: 300px;
	margin: auto;
	background: #006699;
}

form dl dt {
	width: 165px;
	padding: 10px 0;
	float: left;
	clear: both;
}

form dl dd {
	padding: 10px 0;
}

.delete_submit {
	width: 100px;
	position: relative;
	left: 90px;
}

button {
	background: #0099FF;
	color: #fff;
	cursor: pointer;
}

button:hover {
	background: #53B9A8;
