body {
	margin: 0;
	width: auto;
}

fieldset {
	width: 715px;
	height:auto;
	margin: auto;
	border: 1px solid #595959;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

form {
  	font-family: '游ゴシック Medium';
  	font-size: 100%;
  	color: #595959;
  	height: auto;
  	padding: auto;
  	margin: auto;
  	width: 100%;

}

.error {
	font-family: '游ゴシック Medium';
	color: #FF0000
}

.register {
	font-family: '游ゴシック Medium';
	color: #FF0000
}

input[type="text"] {
	width: 23%;
	height: 20px;
	line-height: 10px;
	margin-bottom: 4%;
	border: 1.5px solid #595959;
	padding: 1%;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #595959;
}

input[type="password"] {
	width: 23%;
	height: 20px;
	line-height: 10px;
	margin-bottom: 4%;
	border: 1.5px solid #595959;
	padding: 1%;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #595959;
}


button.btn{
	display:inline-block;
	background: #f2f2f2;
	border: 1.5px solid #595959;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #000000;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	text-valign: middle;
}

button.btn:hover {
	background: #9D9D9D;
}

.mainTable > form{
	display: inline;
}

.idNo{
	width:70px;
}

.joinDay{
	width:100px;
}

.name{
	width:150px;
}

.division{
	width:95px;
}

.position{
	width:70px;
}

table{
	border: 1px solid #595959;
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-family: '游ゴシック Medium';
}

thead > tr > th {
  	background-color: #ADF65C;
  	height: 10px;
  	text-align: 8px;
  	margin: 2px;
  	padding: 5px;
  	font-size: 100%;
  	border-bottom: 1px solid #595959;

}

th, td {
	width: auto;
  	border: 1px solid #595959;
  	padding: 5px;
  	text-align: center;

}