body {
	margin: 0;
	width: auto;
}

h3{
	background-color: #FFFF93;
	line-height: 40px;
	height: 5px;
	padding: 5px 30px 40px;
	font-family: '游ゴシック Bold';
	font-size: 110%;
	font-weight: 900;
	text-align: left;
	color: #000000;
	border: 0;
	margin: 20px 0 40px;
}

fieldset {
	width: 75%;
	height:auto;
	margin: auto;
	border: 1px solid #595959;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

form {

  	font-family: '游ゴシック Medium';
  	font-size: 100%;
  	color: #595959;
  	height: auto;
  	padding: auto;
  	margin: auto;
  	width: 100%;

}

form .error {
	font-family: '游ゴシック Medium';
	color: #FF0000
}

form .button_wrapper {
	text-align: center;
	padding: 30px;
	margin: 5px 5px 5px 10px;
}

input[type="text"] {
	width: 23%;
	height: 20px;
	line-height: 10px;
	margin-bottom: 4%;
	border: 1.5px solid #595959;
	padding: 1%;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #595959;
}

input[type="password"] {
	width: 23%;
	height: 20px;
	line-height: 10px;
	margin-bottom: 4%;
	border: 1.5px solid #595959;
	padding: 1%;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #595959;
}

.btnLeft {
	text-align: left;
	float: left;
	padding-left: 60px;
}

.btnRight{
	text-align: right;
	float: right;
	padding-right: 65px;
}

button.b1{
	background: #f2f2f2;
	border: 1.5px solid #595959;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #000000;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	text-align: middle;
}

button.b1:hover {
	background: #9D9D9D;
}

.button_wrapper {
	text-align:center;

}

input.p1[type="submit"] {
	width: 15%;
	height: 30px;
	text-align: 30px;
	background: #FCE4D6;
	border: 1.5px solid #595959;
	padding: 3px;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #000000;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
}

input.p1[type="submit"]:hover {
	background: #F4B084;
}

input.s1[type="submit"] {
	background: #f2f2f2;
	border: 1px solid #595959;
	padding: 1%;
	font-family: '游ゴシック Medium';
	font-size: 100%;
	color: #000000;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	margin: 0px 5px;
}

input.s1[type="submit"]:hover {
	background: #9D9D9D;
}

.idNo{
	width:120px;
}

.name{
	width:200px;
}

.department{
	width:100px;
}

.position{
	width:100px;
}

table{
	border: 1px solid #595959;
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-family: '游ゴシック Medium';
}

thead > tr > th {
  	background-color: #ADF65C;
  	height: 10px;
  	text-align: 8px;
  	margin: 2px;
  	padding: 5px;
  	font-size: 100%;
  	border-bottom: 1px solid #595959;

}

th, td {
	width: auto;
  	border: 1px solid #595959;
  	padding: 5px;
  	text-align: center;

}

a {
	color:#FF6600;
	text-decoration:none;
}
a:link {
	color:#FF6600;
	text-decoration:none;
}
a:visited {
	color:#FF6600;
}
a:hover {
	color:#00CC33;
	text-decoration:underline;
}
a:active {
	color:#00CC33;
}
