body {
	width: auto;
	height:1500px;
}

.wrapper{
	margin: 0 auto 0 auto;
	max-width: 700px;
}

h4 {
	background: #ADF65C;
	height: 120px;
	margin: 0;
	padding:0px; /*PADDING TODOS OS LADOS DE 20PX*/
	font-family: '游ゴシック Bold';
	font-size: 250%;
	font-weight: 900;
	text-align: center;
	line-height: 120px;
	color: #595959;
	border: 1px solid #595959;
}

fieldset {
	width: 700px;
	height:auto;
	margin: auto;
	border: 1px solid #595959;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

fieldset form {
  	background: #f2f2f2;
	margin-left: auto;
  	margin-right: auto;
  	font-family: '游ゴシック Medium';
  	font-size: 100%;
  	font-weight: 900;
  	color: #595959;
  	height: auto;
  	border: 1px solid #595959;
}
form dl dt{
	width: 100px;
	padding: 20px 20px;
	margin-left:80px;
	float: left;
}

form dl dd{
	padding: 10px 0;
}

form .error {

	text-align: left;
	font-family: '游ゴシック Medium';
	color: #FF0000;
	margin:20px;
}

input[type="text"] {
	width: 300px;
	height: 30px;
	margin-bottom: 4%;
	border: 1.5px solid #595959;
	padding: 2% 1% 2% 2%;
	font-family: '游ゴシック Medium';
	font-size: 95%;
	color: #595959;
}

input[type="password"] {
	width: 300px;
	height: 30px;
	margin-bottom: 4%;
	border: 1.5px solid #595959;
	padding: 2% 1% 2% 2%;
	font-family: '游ゴシック Medium';
	font-size: 95%;
	color: #595959;
}
input[type="date"] {
	width: 300px;
	height: 30px;
	margin-bottom: 4%;
	border: 1.5px solid #595959;
	padding: 2% 1% 2% 2%;
	font-family: '游ゴシック Medium';
	font-size: 95%;
	color: #595959;
}

select {
	border: 1.5px solid #595959;
	width: 30%;
	height: 50px;
	padding: 10px 0;
}

input[type="submit"] {
	margin: 0 auto;
	width:180px;
    height: 20px;
    text-align:center;
    line-height:0px;
	background: #FCE4D6;
	border: 1.5px solid #595959;
	padding: 4%;
	font-family: '游ゴシック Bold';
	font-size: 120%;
	font-weight:900;
	color: #595959;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	margin: 30px;
}

form .button_wrapper {
	text-align: center;
}

button {
	background: #0099FF;
	color: #000000;
	cursor: pointer;
}

button:hover {
	background: #F4B084;
}

