.userDetails_title {
	padding: 0.5em; /*文字周りの余白*/
	color: #000; /*文字色*/
	background: #fffaf4; /*背景色*/
	border-left: solid 5px #ffaf58; /*左線（実線 太さ 色）*/
	text-align: center;
}

.userDetails_title:before {
	content: " ";
	position: absolute;
	top: -16px;
	left: 0;
	width: -webkit-calc(100% - 16px);
	width: calc(100% - 16px);
	height: 0;
	border: solid 8px transparent;
	border-bottom-color: #b2ddf0;
}

.userDetails_item {
	color: #010079;
	text-shadow: 0 0 5px white;
	padding: 0.3em 0.5em;
	background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px, #e9f4ff
		3px, #e9f4ff 7px);
	background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px, #e9f4ff 3px,
		#e9f4ff 7px);
}

.userDetails_button {
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #fd9535; /*背景色*/
	border-bottom: solid 2px #d27d00; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: bold;
	margin: 0 auto;
	display: block;
	width: 119px;
}

.userDetails_button:active {
	border-bottom: solid 2px #fd9535;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.details_dl {
	margin: auto;
	background: #006699;
	width: 400px;
	padding-left: 30px;
}

dl dt {
	width: 165px;
	padding: 10px 0;
	float: left;
	clear: both;
}

dl dd {
	padding: 10px 0;
}
